
@model DojoDachi
<div class="jumbotron">
    <h1>Your pokemon is dead because you didn't take a good care of him</h1>
    <img src="https://thumbs.gfycat.com/WickedSelfassuredBarracuda-size_restricted.gif" alt="Crying pokemons">
    <p>Here are your stats.</p>
    <p>Meals</p><p>  @Model.Meals</p>
    <p>Happiness</p><p> @Model.Happiness</p>
    <p>Fullness</p><p>  @Model.Fullness</p>
    <p>Energy</p><p>  @Model.Energy</p>
    <a href="restart" role="button" class="btn btn-danger">Restart</a>

</div>

