@model DojoDachi

<div class="jumbotron">
    <h1>Congratulations!!! You have won!!!!</h1>
    <img src="https://i.gifer.com/MkK9.gif" alt="Happy pokemon">
    <a href="restart" role="button" class="btn btn-danger">Restart</a>

</div>